.book {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outline {
   outline: 1px solid blue;
}

.book__cover {
    width: 100%;
    object-fit: contain;
}
