.search__form {
    margin: 0 auto 20px;
    width: 100%;
    box-sizing: border-box;
    max-width: 600px;
    display: flex;
}

.search__form-input {
    background: transparent url("../../images/loup.svg") no-repeat content-box 100%; /*content-box интересное свойство*/
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 0 auto;
    background-size: contain;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
}

.search__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 100%;
}

.search__select {
    margin: 0 10px 0 0;
}
.search__select:last-of-type {
    margin: 0;
}

.search__sort-heading {
    margin: 0 10px 0 0;
}

.outline {
    outline: green 1px solid;
}
